<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hospital Management</title>
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a> |
      <a href="/doctors">Dokter</a> |
      <a href="/patients">Pasien</a>
    </nav>
  </header>
  <main>
    <%- body %>
  </main>
</body>
</html>
